/* stylelint-disable-next-line */
$site-max-width: 1920px;
/* stylelint-disable-next-line */
$content-max-width: 1440px;
$color-white-black: #909090;
$color-black: #000;
$color-white: #fff;
$color-primary: #2c3d4f;
$color-dark-gray: #555;
$color-gray: gray;
$color-light-gray: #aca9a9;
$color-green: #6ec498;
$color-black-green: #008000;
$color-red: #e06d5b;
$color-blue: #2196F3;
$color-error: #ff0000;
$color-h-black: #181A20;
$color-ce-black-gray: #1D2028;
$color-active-component: #FF7E00;
$color-fiol: #8b00ff;
$color-dark-blue: #223880;
;
